Fundamentals/Fundamentals.aux
Fundamentals/Fundamentals.bbl
Fundamentals/Fundamentals.blg
Fundamentals/Fundamentals.log
Fundamentals/Fundamentals.tex.backup
VisualMotionManagment/vmm.aux
VisualMotionManagment/vmm.bbl
VisualMotionManagment/vmm.blg
VisualMotionManagment/vmm.log
VisualMotionManagment/vmm.maf
VisualMotionManagment/vmm.mtc
VisualMotionManagment/vmm.mtc0
VisualMotionManagment/vmm.tex.backup
PatientStudy/PatientStudy.aux
PatientStudy/PatientStudy.bbl
PatientStudy/PatientStudy.blg
PatientStudy/PatientStudy.log
PatientStudy/PatientStudy.tex.backup
*.*~
ref.bib.backup
todo.txt.backup
*.mtc*
*.aux
*backup*
*.bbl
*.maf

